<ion-list>
    <ion-item>
        <ion-select [compareWith]="compareWith" placeholder="Selecione o treinamento" (ionChange)="handleChange ($any($event))"
            [multiple]="true">
            <ion-select-option *ngFor="let treinamento of treinamentos" [value]="treinamento">{{ treinamento.name }}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item lines="none">
        <ion-label>Treinamentos cadastrados: {{ currentTreinamento | json }}</ion-label>
    </ion-item>
</ion-list>